

.header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}




.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky
    top: 0;
    cursor: pointer;
}

.nav-list{
    width: 25%;
    display: flex;
    list-style-type: none; 
    float: right;  
}

.nav-list li a {
    color:aqua;
    margin-right: 15px;
}